{% extends "blog/base.html" %} {% block content %}

<div class="home-main-div-blogs ">
    <h1>All posts of {{ view.kwargs.username }}</h1>
    {% for post in posts %}
    <div class="home-main-div-blogs-blog" style="width:90%">
        <div style="padding: 10px; display: flex; flex-direction: column; gap: 10px">
            <div class="home-main-div-blogs-blog-by">
                <img src="{{post.author.profile.image.url}}"  class="rounded-circle account-img" style="width:60px; height:60px;">
                <h3 class="home-main-div-blogs-blog-by-author">Written by {{ post.author}} on <span class="home-main-div-blogs-blog-by-date">{{ post.datePosted | date:"d F Y" }}</span></h3>
                {% if  post.author == user %}
                    <a class="btn btn-danger" href="{% url "post-delete" post.id %}">Delete</a>
                    <a class="btn btn-info" href="{% url "post-update" post.id %}">Update</a>
                {% endif %}
            </div>
            <a class="home-main-div-blogs-blog-title" href="{% url "post-detail" post.id %}">{{ post.title }}</a>
            <h6>{{ post.content|slice:":50" }} ...</h6>
        </div>
    </div>
    {% endfor %}
    <div style="display: flex; align-items:center; justify-content:center; margin-top:20px;">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-info" style="margin-right:10px;" href="?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i> {{ page_obj.previous_page_number }}</a>    
            {% endif %} 
                <span>{{page_obj.number}} / {{paginator.num_pages}}</span>
            {% if page_obj.has_next %}
                <a class="btn btn-info" style="margin-left:10px;" href="?page={{page_obj.next_page_number}}">{{ page_obj.next_page_number }} <i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock content %}
