{% extends "blog/base.html" %}
{% block content %}

<div class="content-section" style="width:70%; display:flex; flex-direction:column; align-items:center; background-color:rgb(245,240,240); margin-top:30px; border-radius:10px;">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="from-group mt-5">
            <button type="submit" class="btn btn-outline-info">Save</button>
        </div>
    </form>
</div> 

{% endblock content %}